<nav>
  
    {{#if user}}
        <a href="/">Home</a>
        <a href="/auth//logout">Logout</a>
        {{#if ruta}}
            <a href="/myDives">MyDives</a>
        {{/if}}

    {{else}}
        <a href="/auth/login">Login</a>
        <a href="/auth/signup">Signup</a>
    {{/if}}


</nav>