<br><br>
<hr>
<a href="/">Back</a>
<h2>Add Comment to </h2> 
<h3>{{dive.namePlace}}</h3>
<form action="/addComment" method="POST" id="form">
  <input type="hidden" id="id" name="id" value={{dive.id}}>
  <label for="valuation">Valuation</label>
  <input id="valuation" type="number" name="valuation" max="5" min="1" placeholder="from 1 to 5">

  <label for="description">Description</label>
  <input id="description" type="text" name="description" placeholder="Description">
  
  {{#if message }}
    <div class="error-message">{{ message }}</div>
  {{/if}}

  <button>Add Comment</button>

</form>
