<nav>
    <a href="/auth/login">Login</a>
    <a href="/auth/signup">Signup</a>
    
</nav>

<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<p>Esta es la página de entrada general, podríamos colocar algunos pocos lugares con su foto</p>