<nav>
    <a href="/auth/login">Login</a>
    <a href="/auth/signup">Signup</a>
</nav>
<hr>
<h2>Welcome to {{title}}</h2>
<div class="flex-container">
    {{#each dive}}
        <div><h3>{{this.namePlace}}</h3>
        <a href="diveHome/{{this._id}}"><img src="{{this.picPath}}" alt="image"></a></div>
        
{{/each}} 
</div>