{{> navigation}}
<hr>
<a href="/addDive">Add Dive</a>
<h2>My Dives</h2>
<div class="flex-container">
    {{#each dive}}
    
        <div>
            <h3>{{this.namePlace}}</h3>
            <img src="{{this.picPath}}" alt="image">
            <h6>{{this.description}}</h6>
            <a href="dive/{{this._id}}">See more</a>
        </div>
    
    {{/each}} 
    
</div>

