<nav>
    <a href="/">Home</a>
    <a href="/auth//logout">Logout</a>
</nav>

<h2>My Dives</h2>

Aqui va el listado de todos las inmersiones agregadas por este usuario

    <a href="/addPlace">Add Place</a>
  </p>
</form>
