<nav>
    <a href="/">Home</a>
    <a href="/auth//logout">Logout</a>
    <a href="./addDive">Add Place</a>
</nav>
<hr>
<h2>My Dives</h2>

{{#each dive}}
    <div class="container">
        <div>
            <p>{{this.namePlace}}</p>
            <p>{{this.description}}</p>
            <img src="{{this.picPath}}" alt="image">
            <a href="dive/{{this._id}}">See more</a>
        </div>
    </div>
{{/each}} 
<br>
   
  </p>
</form>
